body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0F0F0;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.left {
    background-color: #4B0082;
    color: white;
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
}

.right {
    background-color: white;
    color: #4B0082;
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
